# Environnements virtuels
venv/
venv-edge/
venv-ml/
__pycache__/

# Datasets et Logs (Trop lourds)
*.csv
*.json
*.log
*.pcap

# Modèles de Machine Learning
*.h5
*.pkl
*.pt

# Fichiers de configuration sensibles
.env
